.step-circle {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  background-color: #dee2e6;
  color: #6c757d;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.step-circle.active {
  background-color: #0d6efd;
  color: white;
}
